@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --first-color: hsl(271, 76%, 53%);
  --title-color: hsl(0, 0%, 40%);
  --text-color: hsl(0, 0%, 50%);
  --body-color: hsl(0, 0%, 100%);
  --container-color: hsl(0, 0%, 93%);
  --border-color: hsl(0, 0%, 87%);
  --text-white: #fff;

  /*Responsive Typography */
  @media screen and (max-width: 1200px) {
    :root {
      --big-font-size: 36px;
      --h1-font-size: 32px;
      --h2-font-size: 24px;
      --h3-font-size: 20px;
      --large-font-size: 16px;
      --normal-font-size: 15px;
      --small-font-size: 14px;
      --smaller-font-size: 13px;
      --tiny-font-size: 11px;
    }
  }

  /*=== Fonts and Typography  */
  --body-font: "Open Sans", sans-serif;
  --second-font: "Poppins", sans-serif;
  --big-font-size: 56px;
  --h1-font-size: 42px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 14px;
  --smaller-font-size: 12px;
  --tiny-font-size: 10px;

  /*=== Font Weight  */
  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;
  --weight-800: 800;
}
.dark-theme {
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 80%);
  --body-color: hsl(0, 0%, 7%);
  --container-color: hsl(0, 1%, 17%);
  --border-color: hsl(0, 0%, 15%);
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: calc(100% - 180px);
  }
}
@media screen and (max-width: 1200px) {
  .grid {
    gap: 20px;
  }
  .home__data {
    padding-right: 40px;
  }
  .home__title {
    font-size: var(--big-font-size);
  }
  .home__description {
    font-size: var(--small-font-size);
  }
  .stats__title {
    padding-left: 35px;
  }
  .stats__title::before {
    width: 22px;
  }
  .skills__container {
    row-gap: 32px;
  }
  .progress__circle {
    width: 100px;
    height: 100px;
  }
  .skills__title {
    margin-top: 20px;
  }
  .resume__icon {
    width: 36px;
    height: 36px;
    line-height: 38px;
  }
  .resume__item{
    padding-left: 55px;
  }
  .portfolio__modal-content{
    min-width: 600px;
  }
  .modal__close{
    width: 40px;
    height: 40px;
  }
  .form__input-group{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 24px;
  }
  .form__input-group .form__input-div:last-child{
    grid-column: 1/-1;
  }
  .form__input-div {
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .container{
    min-width: 720px;
  }
  .home{
    padding: 20px;
    grid-template-columns: 5fr 7fr;
  }
  .home__data{
    padding-right: 0;
  }
  .section{
    padding-block: 50px;
  }
  .section__title{
    margin-bottom: 40px;
  }
  .about__container,
  .resume__container,
  .contact__container{
    grid-template-columns: 1fr;
  }
  .about__container{
    row-gap: 40px;
  }
  .subtitle__container{
    margin-bottom: 45px;
  }
  .skills__container{
    grid-template-columns: repeat(3,1fr);
  }
  .resume__container{
    row-gap: 45px;
  }
  .resume__item:not(:last-child){
    margin-bottom: 45px;
  }
  .separator{
    margin: 65px auto 50px;
  }
  .portfolio__container{
    grid-template-columns: repeat(2,1fr);
  }
  .contact__container{
    row-gap: 45px;
  }
}
@media screen and (max-width: 768px) {

}